<section>
    <h2>Carrito</h2>
    <ul>
        <li *ngFor="let p of productos">       
            <img src="{{p.img}}" style="width: 80px;">
            <span> {{p.nombre}}: </span>
            <span>${{p.precio}} </span>
        </li>
    </ul>
    <p>Total: {{total}}</p>
    <p>Valor total en Satoshis: {{ formatearComoBitcoin(totalSatoshi, 2) }} BTC</p>
    <div *ngIf="total">
        <img id="qr-code" alt="Código QR" src="{{qrCode}}" style="display: block;">
        <button (click)="pagar()">pagar</button>
    </div>
    <p>Saldo: {{Saldo}}</p>
    <span><button (click)="consultarSaldo()">Consultar Saldo</button></span>
</section>