<section>
    <div id="descripcion-proyecto">
      <button
        style="margin: 50px; padding: 10px"
        type="button"
        class="btn btn-primary"
        (click)="openPopup()">Show Data
      </button>
      <div
        class="modal"
        tabindex="-1"
        role="dialog"
        [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Proyecto</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, repudiandae facilis. Natus, cumque quos minus dolor deleniti quas beatae minima nihil cum dolorum obcaecati tempora maxime mollitia culpa, labore sed.</p>
              <p>Modi fuga ratione dolore molestias et, libero hic, ipsum quaerat similique eum suscipit voluptate quam maiores, impedit fugit atque nobis sed exercitationem optio pariatur. Itaque numquam nisi odit tempore repudiandae!</p>
              <p>Rerum eligendi neque harum aperiam, provident dicta. Quae dolorem veniam non tenetur sequi voluptatem obcaecati nisi aut temporibus, nemo quo quaerat officia officiis voluptates. Exercitationem laboriosam magni dolores quia necessitatibus?</p>
              <p>Aut sequi odio nesciunt atque? Qui molestias in, ducimus alias quam quis inventore praesentium ex suscipit sapiente magni aliquam necessitatibus ea ipsum commodi maiores nulla corporis. Iste magni accusantium voluptates.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"
                      (click)="closePopup()">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="integrantes">
        <div class="integrante">
            <div class="main">
                <img src="https://w7.pngwing.com/pngs/664/593/png-transparent-artstation-logo-logos-logos-and-brands-icon-thumbnail.png" alt="">
                <span>Jesús Hernando López</span>
            </div>
            <span class="team f">FRONTEND</span>
        </div>
        <div class="integrante">
            <div class="main">
                <img src="https://w7.pngwing.com/pngs/664/593/png-transparent-artstation-logo-logos-logos-and-brands-icon-thumbnail.png" alt="">
                <span>Jesús Hernando López</span>
            </div>
            <span class="team f">FRONTEND</span>
        </div>
        <div class="integrante">
            <div class="main">
                <img src="https://w7.pngwing.com/pngs/664/593/png-transparent-artstation-logo-logos-logos-and-brands-icon-thumbnail.png" alt="">
                <span>Jesús Hernando López</span>
            </div>
            <span class="team f">FRONTEND</span>
        </div>

    </div>
</section>
